numpy==1.26.4
PyYAML==6.0.2
pyarrow==20.0.0
mlflow
ipykernel
ipywidgets==7.7.1
pandas
papermill
pydantic==2.5.3
minari[hf,hdf5,create]
pyrallis
gymnasium[other]
gymnasium-robotics>=1.2.4
mujoco<3
minigrid
rl_zoo3




